<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- <link rel="stylesheet" href="/static/css/style.css"/> -->
    <script src="https://kit.fontawesome.com/0928e77e31.js" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %} - My Webpage</title>


    
<style>
    ul li div button{
    text-decoration: none;
    background: #2F3990;

    background-color: #2f3990 !important;
    color: azure !important;
}
footer{
    background-color: #959595 !important;

}
footer a {
    text-decoration: none;
    color: #FFFFFF;
}
</style>
    {% endblock %}
</head>
<body>
{% block header %}
<nav class="navbar navbar-expand-md">
    <div class="container-fluid text-dark">
        <a class="navbar-brand p-0" href="/dashboard"><img style="vertical-align:baseline" src="/static/assets/alian_logo.png" alt=""></a>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item mt-1">
                    <a class="navbar-brand" href="/dashboard"><img    src="/static/assets/dashboard_icon.png" alt=""></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/employeelist">Employees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/department">Department</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/salary">Salary</a>
                </li>
            </ul>


            <form class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link disabled">Company</a>
                    </li>
                   
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Support
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>


                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="#"><img src="/static/assets/notification-bell.png" alt=""></a>
                    </li>
                    <li class="nav-item">

                        <a class="navbar-brand" href="#"> Jade powers
                            <img src="/static/assets/profile.png" alt="" style="height: 40px; width: 40px;"></a>
                    </li>

                </ul>
            </form>
        </div>
    </div>
</nav>


{% endblock%}
<div id="content">{% block content %}{% endblock %}</div>

<div id="footer">
    {% block footer %}
    <footer class="text-center text-lg-start" style="">
        <section class="p-0 pt-0">
            <div class="row d-flex align-items-center">

                <div class="col-md-7 col-lg-8 text-center text-md-start">
                    <div class="p-3">
                      <span>  <a class="p-2" style="text-decoration: none;" href="https://aliansoftware.com/">AdminKit - Alian Software ©</a> </span>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                    <span><a class="p-2" style="text-decoration: none;" href="#">Support</a></span>
                    <span><a class="p-2" style="text-decoration: none;" href="#">Help Center</a></span>
                    <span><a class="p-2" style="text-decoration: none;" href="#">Privacy</a></span>
                    <span><a class="p-2" style="text-decoration: none;" href="#">Terms</a></span>
                </div>
            </div>
        </section>
    </footer>
    {% endblock %}
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>