{% extends "base.html" %}
{% block title %}DashBoard{% endblock %}
{% block head %}
{{ super() }}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="shortcut icon" href="img/icons/icon-48x48.png"/>

<link rel="canonical" href="https://demo-basic.adminkit.io/"/>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
<!-- <link href="/static/css/app.css" rel="stylesheet"> -->

{% endblock %}
{% block content %}
<div class="container-fluid" style="background-color: #ffffff;">
    <div class="wrapper">
        <div class="main">
            <main class="content">
                <div class="container-fluid p-1">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 mt-2">
                            <ul class="nav justify-content-start">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">
                                        <h5><b> Dashboard </b></h5>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color: #E7E7E7;">
    <div class="wrapper">
        <div class="main">
            <main class="content">
                <div class="container-fluid p-3">

                    <div class="row mt-3 p-1">

                        <div class="col-xl-12 col-xxl-12 d-flex">
                            <div class="w-100">
                                <div class="row">

                                    <div class="col-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-4 mt-4">
                                                        <div class=" text-primary">
                                                            <img src="/static/assets/team.png" class="card-img-top"
                                                                 alt="" style="width: 4rem;">

                                                        </div>
                                                    </div>

                                                    <div class="col-8 mt-1 text-center">
                                                        <h4 class="card-title">Total Employees</h4>
                                                        <br>
                                                        <h1 class="mt-1">560</h1>
                                                    </div>
                                                </div>
                                                <!--                                                <h1 class="mt-1">560</h1>-->
                                                <!-- <div class="mb-0">
                                                    <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -3.65% </span>
                                                    <span class="text-muted">Since last week</span>
                                                </div> -->
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-4 mt-4">
                                                        <div class="text-primary">
                                                            <img src="/static/assets/checklist.png" alt=""
                                                                 style="width: 4rem;">
                                                            <!-- <i class="align-middle" data-feather="users"></i> -->
                                                        </div>
                                                    </div>
                                                    <div class="col-8 mt-1 text-center">
                                                        <h4 class="card-title">Employees on Probation</h4>
                                                        <br>
                                                        <h1 class="mt-1 ">12</h1>
                                                    </div>
                                                </div>
                                                <!--                                                <h1 class="mt-1 ">12</h1>-->

                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-4 mt-4">
                                                        <div class=" text-primary">
                                                            <img src="/static/assets/presentation.png" alt=""
                                                                 style="width: 4rem;">
                                                            <!-- <i class="fa-regular fa-chalkboard-user"></i> -->
                                                            <!-- <i class="align-middle" data-feather="dollar-sign"></i> -->
                                                        </div>
                                                    </div>
                                                    <div class="col-8 mt-1 text-center">
                                                        <h4 class="card-title">Employees on Training</h4>
                                                        <br>
                                                        <h1 class="mt-0">7</h1>
                                                    </div>
                                                </div>
                                                <!--                                                <h1 class="mt-0">7</h1>-->

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div class="card flex-fill w-100" style="height: 100%">
                                            <div class="card-header">
                                                <h4 class="card-title mb-0">Employees Overview </h4>
                                            </div>
                                            <div class="card-body d-flex">
                                                <div class=" align-self-center w-50 ml-3">
                                                    <div class="py-0">
                                                        <div class="chart chart-xs">
                                                            <canvas id="chartjs-dashboard-pie"></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div style="vertical-align: middle; " class="mt-5">
                                                    <table class="table mt-5 me-5" style="font-size: 20px;">
                                                        <ul>
                                                        <tbody>
                                                        <tr>
                                                                <td class="text-end"><li style="color:#0d6efd;"></li></td>
                                                                <td class="ms-1 text-start">Fulltime</td>
                                                        <tr>
                                                        <tr>
                                                            <td class="text-end"><li style="color:#dc3545;"></li></td>
                                                            <td class="ms-1 text-start">Internship</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-end"><li style="color:#ffc107;"></li></td>
                                                            <td class="ms-1 text-start">Trainee</td>
                                                        </tr>


                                                        </tbody>
                                                            </ul>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="card flex-fill w-100" style="height: 100%">

                                            <div class="card-header">

                                                <h4 class="card-title mb-0">Department Wise Employees</h4>
                                            </div>

                                            <div class="card-body d-flex">

                                                <div class="align-self-center w-50">
                                                    <div class="py-3">
                                                        <div class="chart chart-xs">
                                                            <canvas id="chartjs-dashboard-pie2"></canvas>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div>
                                                    <table class="table mt-3" style="font-size: 20px;">
                                                        <ul>
                                                        <tbody>
                                                        <tr>
                                                            <td class="text-end"><li style="color:#0d6efd;"></li></td>
                                                            <td class="ms-1 text-start">Account Department</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-end"><li style="color:#dc3545;"></li></td>
                                                            <td class="ms-1 text-start">UI/UX Design</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-end"><li style="color:#0d6efd;"></li></td>
                                                            <td class="ms-1 text-start">Development Department</td>
                                                        </tr>
                                                        <tr class="mt-2">
                                                            <td class="text-end"><li style="color:#0dcaf0;"></li></td>
                                                            <td class="ms-1 text-start">HR Department</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-end"><li style="color:#6c757d;"></li></td>
                                                            <td class="ms-1 text-start">Marketing Department</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-end"><li style="color:#20c997;"></li></td>
                                                            <td class="ms-1 text-start">Testing Department</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-end"><li style="color:#ffc107;"></li></td>
                                                            <td class="ms-1 text-start">Android and IOS App Developer</td>
                                                        </tr>
                                                        </tbody>
                                                            </ul>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>


                    <div class="row mt-3 p-1">
                        <div class="col-6 col-lg-6 col-xxl-6 d-flex">
                            <div class="card flex-fill w-100">
                                <div class="card-header">
                                    <h4 class="card-title mb-0">Employees Count By Salary Range</h4>
                                </div>
                                <div class="card-body d-flex">
                                    <div class="align-self-center chart chart-lg">
                                        <canvas id="chartjs-dashboard-bar1" style="width: 45vw; height: 30vh;"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-lg-6 col-xxl-6 d-flex">
                            <div class="card flex-fill w-100">
                                <div class="card-header">

                                    <h4 class="card-title mb-0">Employees By Experience</h4>
                                </div>
                                <div class="card-body d-flex">
                                    <div class="align-self-center chart chart-lg">
                                        <canvas id="chartjs-dashboard-bar" style="width: 30vw; height: 30vh;"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row mt-3 p-1">
                        <div class="col-3 col-lg-3 col-xxl-3 d-flex">
                            <div class="card flex-fill" style="background-color: #ffffff">
                                <div class="card-header">

                                    <h4 class="card-title mb-0">Employees On Leave</h4>
                                </div>
                                <div class="card p-3">
                                <table class="table table-hover my-0">
                                    <thead style="background-color: #DFE1E6">
                                    <tr>
                                        <th>Name</th>
                                        <th class="d-none d-xl-table-cell">Leave Type</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in range(5)%}
                                    <tr>
                                        <td>Project Apollo <br>Department</td>
                                        <td class="d-none d-xl-table-cell align-middle">Full day</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 col-lg-3 col-xxl-3 d-flex">
                            <div class="card flex-fill">
                                <div class="card-header">

                                    <h4 class="card-title mb-0">Top 5 Leave Takers</h4>
                                </div>
                                <div class="card p-3">
                                <table class="table table-hover my-0">
                                    <thead  style="background-color: #DFE1E6">
                                    <tr>
                                        <th>Name</th>
                                        <th class="d-none d-xl-table-cell">No of Leave</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in range(5)%}
                                    <tr>
                                        <td>Project Apollo <br>Department</td>
                                        <td class="d-none d-xl-table-cell align-middle">Full day</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 col-lg-3 col-xxl-3 d-flex">
                            <div class="card flex-fill">
                                <div class="card-header">

                                    <h4 class="card-title mb-0">This month Employees Birthday</h4>
                                </div>
                                <div class="card p-3">
                                <table class="table table-hover my-0">
                                    <thead style="background-color: #DFE1E6">
                                    <tr>
                                        <th>Name</th>
                                        <th class="d-none d-xl-table-cell">Date</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in range(5)%}
                                    <tr>
                                        <td>Project Apollo <br>Department</td>
                                        <td class="d-none d-xl-table-cell align-middle">10 april</td>
                                    </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 col-lg-3 col-xxl-3 d-flex">
                            <div class="card flex-fill">
                                <div class="card-header">

                                    <h4 class="card-title mb-0">Work Anniversaries</h4>
                                </div>
                                <div class="card p-3">
                                <table class="table table-hover my-0">
                                    <thead style="background-color: #DFE1E6">
                                    <tr>
                                        <th>Name</th>
                                        <th>Year</th>
                                        <th class="d-none d-xl-table-cell">Date</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in range(5)%}
                                    <tr>
                                        <td>Project Apollo <br>Department</td>
                                        <td>2</td>
                                        <td class="d-none d-xl-table-cell align-middle">12-2-21</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </main>
        </div>
    </div>
</div>


<script src="/static/js/app.js"></script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Pie chart
        new Chart(document.getElementById("chartjs-dashboard-pie"), {
            type: "pie",
            data: {
                labels: ["fulltime", "internship",  "trainee"],
                datasets: [{
                    data: [150, 100, 30],
                    backgroundColor: [
                        window.theme.primary,
                        window.theme.warning,
                        window.theme.danger,
                        window.theme.success,
                        window.theme.info
                    ],
                    borderWidth: 5
                }]
            },
            options: {
                responsive: !window.MSInputMethodContext,
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                cutoutPercentage: 45
            }
        });
    });









</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Pie chart

        new Chart(document.getElementById("chartjs-dashboard-pie2"), {
            type: "pie",

            data: {
                labels: ["Accountant", "Android and IOS App Developer", "UI/UX Design Dept", "devlopment Dept.", "Hr Dept.", "Marketing Dept.", "testing Dept."],
                datasets: [{
                    data: [2, 10, 30, 50, 5, 15, 10],
                    backgroundColor: [
                        window.theme.primary,
                        window.theme.warning,
                        window.theme.danger,
                        window.theme.primary,
                        window.theme.info,
                        window.theme.secondary,
                        window.theme.success,
                       

                    ],
                    borderWidth: 5
                }]
            },
            options: {
                responsive: !window.MSInputMethodContext,
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                cutoutPercentage: 45
            }
        });
    });









</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Bar chart
        new Chart(document.getElementById("chartjs-dashboard-bar"), {
            type: "bar",
            data: {
                labels: ["0 to 1 year", "1 to 5 year", "5 to 10 year", "10 or more",],
                datasets: [{
                    label: "This year",
                    backgroundColor: window.theme.primary,
                    borderColor: window.theme.primary,
                    hoverBackgroundColor: window.theme.primary,
                    hoverBorderColor: window.theme.primary,
                    data: [54, 67, 41, 55,,1],
                    barPercentage:0.5,
                    categoryPercentage: 0.6
                }]
            },
            options: {
                maintainAspectRatio: true,
                legend: {
                    display: true
                },
                scales: {
                    yAxes: [{
                        gridLines: {
                            display: false
                        },
                        stacked: false,
                        ticks: {

                            stepSize: 10
                        }
                    }],
                    xAxes: [{
                        stacked: true,
                        gridLines: {
                            color: "transparent",
                            with:50
                        }
                    }]
                }
            }
        });
    });









</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Bar chart
        new Chart(document.getElementById("chartjs-dashboard-bar1"), {
            type: "bar",
            data: {
    labels: ["0 to 20k ", "20k to 50k", "50k to 80k", "80k to 100k", "100k +"],
    datasets: [{
      label: "Last year",
      backgroundColor: window.theme.primary,
      borderColor: window.theme.primary,
      hoverBackgroundColor: window.theme.primary,
      hoverBorderColor: window.theme.primary,
      data: [54, 67, 41, 55, 62,],
      barPercentage: .75,
      categoryPercentage: 0.6
    }, {
      label: "This year",
      backgroundColor: "#d224e6",
      borderColor: "#dee2e6",
      hoverBackgroundColor: "#dee2e6",
      hoverBorderColor: "#dee2e6",
      data: [69, 66, 24, 48, 52,],
      barPercentage: .75,
      categoryPercentage: 0.6
    }]
  },
  options: {
    scales: {
      yAxes: [{
        gridLines: {
          display: false
        },
        stacked: false
      }],
      xAxes: [{
        stacked: false,
        gridLines: {
          color: "transparent"
        }
      }]
    }
}
        });
    });









</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var date = new Date(Date.now() - 5 * 24 * 60 * 60 * 1000);
        var defaultDate = date.getUTCFullYear() + "-" + (date.getUTCMonth() + 1) + "-" + date.getUTCDate();
        document.getElementById("datetimepicker-dashboard").flatpickr({
            inline: true,
            prevArrow: "<span title=\"Previous month\">&laquo;</span>",
            nextArrow: "<span title=\"Next month\">&raquo;</span>",
            defaultDate: defaultDate
        });
    });









</script>
{% endblock %}