{% extends "base.html" %}
{% block title %}Employees{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}
{% block content %}
<div class="container-fluid" style="background-color: #ffffff;">
    <div class="wrapper">
        <div class="main">
            <main class="content">
                <div class="container-fluid p-1">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 mt-2">
                            <ul class="nav justify-content-start">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">
                                        <h5><b>Create Salary Sheet</b></h5>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>


<div class="container-fluid" style="background-color: #F4F5F7;">
    <div class="container-fluid p-3">

        <div class="row justify-content-between">
            <div class='col d-flex mt-3'>
                <span class="nav-item me-4 mt-2"><b>Salary Sheet</b></span>
                <div class="form-outline  text-start ">
                    <input type="text" class="form-control" id="forminput" placeholder="month"/>
                </div>
            </div>
            <div class="col end-0 mt-3">
                <ul class="nav justify-content-end  end-0 mb-4 mt-2">
                    <li class="nav-item me-4">
                        <div class="dropdown">
                            <button class="btn border-1 btn-secondary " type="button" aria-haspopup="true"
                                    aria-expanded="false">
                                Submit for Approval
                            </button>
                        </div>
                    </li>
                    <li class="nav-item me-4">
                        <div class="dropdown">
                            <button class="btn border-1 btn-secondary " type="button" aria-haspopup="true"
                                    aria-expanded="false">
                                Download All
                            </button>
                        </div>
                    </li>
                </ul>
            </div>

        </div>

        <table class="table table-bordered" style="border: 2px solid black !important;">
            <thead class="text-center center align-baseline">
            <tr class="border-bottom" scope="row" style="border: 2px solid !important;">
                <th scope="col" rowspan="2" class="align-middle" style="background-color: #DFE1E6;">Employee Name</th>
                <th scope="col rwo-2" rowspan="2" class="align-middle" style="background-color: #DFE1E6;"> Leave Taken For LWP</th>
                <th scope="row" colspan="8" class="align-middle" style="background-color: #DCFDD9;">Earning</th>
                <th scope="row col" rowspan="2" class="align-middle" style="background-color: #DFE1E6;">Gross Salary</th>
                <th scope="col-6" colspan="6" class="align-middle" style="background-color: #FDD9DB;">Deduction</th>
                <th scope="row-2 col" rowspan="2" class="align-middle" style="background-color: #DFE1E6;">Net Payable</th>
                <th rowspan="2" class="align-middle" style="background-color: #DFE1E6;"></th>
            </tr>
            <tr class="border-bottom" style="border:2px solid black !important;">
                <th scope="col" class="align-middle" style="background-color: #DCFDD9;">Basic</th>
                <th scope="col" class="align-middle" style="background-color: #DCFDD9;">HRA</th>
                <th scope="col" class="align-middle" style="background-color: #DCFDD9;">DA</th>
                <th scope="col" class="align-middle" style="background-color: #DCFDD9;">Other Allowance</th>
                <th scope="col" class="align-middle" style="background-color: #DCFDD9;">Incentive</th>
                <th scope="col" class="align-middle" style="background-color: #DCFDD9;">Arrears</th>
                <th scope="col" class="align-middle" style="background-color: #DCFDD9;">Outstanding Adjustments</th>
                <th scope="col" class="align-middle" style="background-color: #DCFDD9;">Statutory Bonus</th>
                <th scope="col" class="align-middle" style="background-color: #FDD9DB;">EPFO</th>
                <th scope="col" class="align-middle" style="background-color: #FDD9DB;">PT</th>
                <th scope="col" class="align-middle" style="background-color: #FDD9DB;">TDS</th>
                <th scope="col" class="align-middle" style="background-color: #FDD9DB;">Leave Deduction</th>
                <th scope="col" class="align-middle" style="background-color: #FDD9DB;">Other Deduction</th>
                <th scope="col" class="align-middle" style="background-color: #FDD9DB;">Outstanding Adjustment</th>
            </tr>
            </thead>
            <tbody style="background-color:#ffffff;" class="text-center">
            {% for id in data %}
            <tr class="ttr">
                <th scope="row">{{ id }}</th>
                <td>lwp</td>
                <td>{{ data[id]["basic"] }}</td>
                <td>{{ data[id]["hra"] }}</td>
                <th scope="row">{{ data[id]["da"] }}</th>
                <td>{{ data[id]["otherAllowance"] }}</td>
                <td>{{ data[id]["incentive"] }}</td>
                <td>{{ data[id]["arrears"] }}</td>
                <th scope="row">{{ data[id]["outstandingAdjustment"] }}</th>
                <td>{{ data[id]["statutoryBonus"] }}</td>
                <td>{{ data[id]["grossSalary"] }}</td>
                <th scope="col">{{ data[id]["epfo"] }}</th>
                <td>{{ data[id]["pt"] }}</td>
                <td>{{ data[id]["tds"] }}</td>
                <td>{{ data[id]["leaveDeduction"] }}</td>
                <td>{{ data[id]["otherDeduction"] }}</td>
                <td>{{ data[id]["outstandingAdjustments"] }}</td>
                <td>{{ data[id]["netSalary"] }}</td>
                <td>
                    <a href="/salarysheetedit/{{ id }}">
                        <button class="btn border-1 btn-secondary" type="button" aria-haspopup="true"
                                aria-expanded="false"
                                style="color:#2F3990; border-color:#2F3990; background-color: #FFFFFF">
                            Edit
                        </button>
                    </a>
                </td>
            </tr>
            {% endfor%}
            </tbody>
        </table>

    </div>
</div>


<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
    document.getElementById("datetimepicker1").datetimepicker();


</script>

{% endblock %}